* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $grey-l;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-left: $grid-gutter * -1;
  margin-right: $grid-gutter * -1;

  @media (min-width: $break-sm) {
    flex-direction: row;
  }
}
