.card {
  background: $white;
  box-shadow: 0 1px 1px rgba($black, .1);
  margin: $grid-gutter;
}

.card--black {
  color: $white;
  background: $black;
}

.card__content {
  padding: 15px;
  order: 0;
}

.card__image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.card__image-wrapper {
  order: 2;
}
