.card {
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 1px 1px rgba($black, .1);
  margin: $grid-gutter;
  animation: jump 3s;
}

.card--black {
  color: $white;
  background: $black;
}

.card__content {
  padding: 15px;
  order: -1;
}

.card__image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.card__image-wrapper {
  order: 1;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -200px);
  }
  50% {
    transform: translate(0, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}
