// Colors
$white: #fff;

$grey: #777;
$grey-l: #f3f3f3;

$black: #000;

// Page width
$page-max-width: 1200px;

$grid-gutter: 10px;

$break-sm: 800px;

$font-family: 'Roboto', sans-serif;
